html {
  scroll-behavior: smooth;
}

body {
  background: #efeaea;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

#rounded-circle {
  width: 160px;
  height: 160px;
  border-radius: 100% !important;
}

::selection {
  color: white;
  background-color: #53a653;
  padding: 5px;
}

.headerScroll {
  /* position: fixed; */
  width: 98%;
  margin-top: 1px;
}

.progress-containerDom {
  width: 100%;
  height: 7px;
  /* background:rgba(255, 255, 255, 0.87); */
  background: #e5fde5;
  border-radius: 10px;
}

.progress-bar {
  height: 7px;
  /* background: #46a749; */
  background: #53a653;
  width: 0%;
  border-radius: 10px;
}


.skills {
  background-color: #b9e7b9;
  padding: -7px;
  margin: 0px 2px 0px 2px;
  border-radius: 8px;
  text-align: center;
  color: black !important;
  padding-left: 5px;
}

/* Start of navbarDom style */

@media only screen and (min-width: 785px) {
  .navbarDom {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.87);
    padding: 10px;
    box-shadow: 0px 0px 5px 0px #a6a2a2;
    margin-bottom: 10px;
    margin: -8px;
    position: fixed !important;
    top: 0;
  }

  /* .headerScroll {
    position: fixed;
    width: 98%;
    margin-top: 1px;
  } */

  .logo,
  .rightLinks {
    display: inline-block;
    margin: 0;
  }

  .logo {
    /* width: 60%; */
    /* margin-left: 0px; */
    padding: 3px;
  }

  .rightLinks {
    margin-left: 25%;
  }

  .logo>a {
    font-size: 30px;
    text-decoration: none;
    color: #e0691c;
  }

  .logo>a>b {
    font-size: 40px;
    color: #53a653;
    text-shadow: 1px 2px 1px #4944b9;
  }

  .rightLinks>a {
    text-decoration: none;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black;
    font-family: inherit;
    font-weight: bold;
    opacity: .8;
  }

  .rightLinks>a:hover {
    opacity: 1;
    color: green;
    border-bottom: 5px solid #efeaea;
    transition-delay: .2s inherit;
  }

  .categories {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    /* position: relative !important; */
  }

  .categories>a {
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: normal;
  }

  /* +++++++++++++contentDom +++++++++++++ */
  .containerDom {
    margin-left: 12%;
    margin-right: 12%;
  }

  /* .profile img {
    height: 500px;
    width: 400px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px black;
  } */
  .img-caption {
    color: black;
    font-size: 25px;
  }

  span>a {
    text-decoration: none;
    padding: 5px;
    font-weight: 600;
    color: #53a653;
  }

  .contentDom-body {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
  }

  .header {
    height: 80px;
    background-color: #53a653;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
    box-shadow: 0px 0px 8px 0px #c3a6a6;
  }

  input[type="text"],
  input[type="email"],
  select,
  input[type="password"] {
    width: 100%;
    height: 30px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    /* margin-top:20px; */
    margin-bottom: 20px;
    font-size: 16px;
    /* box-shadow: 0px 2px 10px 0px #53a653; */
    outline: none;
  }

  textarea {
    width: 100%;
    height: 100px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    /* margin-top:20px; */
    margin-bottom: 20px;
    font-size: 16px;
    resize: none;
    /* box-shadow: 0px 2px 10px 0px #53a653; */
    outline: none;
  }

  label {
    font-weight: bold;
    margin-bottom: 40px;
  }

  .form-btn {
    padding: 10px;
    text-align: center;
    width: 50%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: #53a653;
    border: none;
    margin-left: 14px;
    margin-top: 20px;
    margin-bottom: 25px;
    outline: none;
    color: #fff;
  }
}


/* +++++++++++++++++++++ Mobile view navbarDom +++++++++++ */
@media only screen and (max-width: 784px) {
  .navbarDom {
    width: 100%;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 0px 5px 0px #a6a2a2;
    margin-bottom: 40px;
    /* margin: 80px; */
    /* position: fixed; */
    margin-left: -15px;
    top: 10;
  }

  .headerScroll {
    position: fixed;
    top: 10;
  }

  .progress-containerDom {
    width: 97%;
    background: rgba(255, 255, 255, 0.87);
  }

  .progress-bar {
    background: #e0691c;
  }

  .logo,
  .rightLinks {
    display: inline-block;
    margin: 0;
  }

  .logo {
    /* width: 60%; */
    margin-left: 10px;
    padding: 3px;
  }

  .rightLinks {
    margin-left: 60%;
  }

  .logo>a {
    font-size: 30px;
    text-decoration: none;
    color: #e0691c;
  }

  .logo>a>b {
    font-size: 30px;
    color: #53a653;
    text-shadow: 1px 2px 1px #4944b9;
  }

  .rightLinks>a {
    text-decoration: none;
    padding: 10px;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    color: black;
    font-family: inherit;
    font-weight: bold;
    opacity: .6;
  }

  .rightLinks>a:hover,
  .rightLinks>a:focus {
    opacity: 1;
    color: green;
    border-bottom: 5px solid #efeaea;
    transition-delay: .2s inherit;
  }

  .categories {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    /* position: relative !important; */
  }

  .categories>a {
    padding: 5px;
    text-decoration: none;
    font-size: 13px;
    color: black;
    font-weight: normal;
  }

  /* +++++++++++++++ contentDom ++++++++++ */
  .containerDom {
    margin-left: 6%;
    margin-right: 6%;
  }

  /* .profile img {
    height: 250px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px black;
  } */
  .img-caption {
    color: black;
    font-size: 16px;
    font-weight: bold;
  }

  span>a {
    text-decoration: none;
    color: #53a653;
  }

  .contentDom-body {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 40px;
  }

  .header {
    height: 80px;
    background-color: #53a653;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2px;
    box-shadow: 0px 0px 8px 0px #c3a6a6;
  }


  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    box-shadow: 0px 2px 10px 0px #53a653;
  }

  textarea {
    width: 100%;
    height: auto;
    padding: 8px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    resize: none;
    border-bottom: 2px solid green;
  }

  .form-btn {
    padding: 5px;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #53a653;
    /* border-radius: 8px; */
    border: none;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .footer {
    margin: 0;
    max-width: 90% !important;
    height: 70vh;
    margin-top: 10vh;
    /* margin-right: 50px; */
    /* margin-right: 10px; */
    background-color: #404040;
    padding: 10px;
    overflow: hidden;
  }

  .footer>.footer-contentDom {
    text-align: center;
    margin-top: 100px;
    font-size: 10px;
    color: #c5c0c0;
  }
}

/* ++++++++++++++++++End Mobile View navbarDom+++++++++++++++++ */






/* Start of categories style */
.categories>a:hover,
.categories>a:focus {
  border-bottom: 5px solid #8ad88a;
  transition-delay: .2s inherit;
  color: #e0691c;
}

.categories>.active {
  transition-delay: .2s inherit;
  color: #e0691c;
}

/*End of categories style */


/* .profile {
  text-align: center;
  margin-top: 40px;
} */
.social-media {
  text-align: center;
  margin-top: 10px;
}

.img-caption:hover {
  /* text-shadow: 1px 2px 1px #000; */
  color: #53a653;
}

span>a:hover {
  color: #22aaf3;
  text-decoration: underline;
}


hr {
  height: 1px;
  background-color: #c5bdbd;
  border: none;
}

pre {
  font-size: 15px;
}

.header>.header-title {
  color: white;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  padding: 1px;
  margin-top: 4px;
}

.body {
  height: auto;
  background-color: white;
  margin-top: 5px;
  box-shadow: 0px 0px 8px 0px #c3a6a6;
}

.body-contentDom {
  padding: 8px 8px 8px 8px;
  background-color: #fff;
}

.cv-body {
  height: auto;
  border-left: 4px solid #53a653;
  box-shadow: 0px 0px 4px 0px #c3a6a6;
  padding: 5px;
  margin-bottom: 10px;
}

.cv-body:hover {
  background-color: #070707 !important;
  color: white;
}

.location {
  color: gray;
  border-left: 2px solid #e0691c;
  margin-left: 8px;
}

.cvType {
  color: #53a653;
  margin-top: 80px;
}

/* End of cv containerDom */


/* Forms */
.form-contentDom {
  margin-left: 5%;
  margin-right: 5%;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
textarea::placeholder {
  color: #53a653;
}


.form-btn:hover {
  background-color: #2b612b;
  color: white;
}

.btn-save-pdf {
  border: none;
  outline: none;
  background-color: #2b612b;
  color: white;
  font-size: 17px;
  padding: 8px;
  border-radius: 5px;
  margin-left: 40%;
}

.btn-save-pdf:hover,
.btn-save-pdf:focus {
  background-color: #428542;
}

/* End form */


/* Start footer */
.footer {
  margin: 0;
  width: 100%;
  height: 70vh;
  margin-top: 10vh;
  margin-left: -10px;
  margin-right: 10px;
  background-color: #404040;
  padding: 30px;
  bottom: 0;
}

.footer>.footer-contentDom {
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
  color: #efe5e5;
}

.milkbread {
  width: 100px !important;
}

/* End footer */
